%form#new_outgo_form.outgo.transaction-form.centrilized{ :'ng-submit' => "submit()" }
  .row.show-for-medium-up
    .small-12.columns
      %h2= title || ""

  / Value field
  .row.collapse
    .small-2.columns
      %span.prefix=t "currency"
    .small-10.columns
      = number_field :outgo, :value, { :'ng-model' => "outgo.value", :step => "0.01", :placeholder => t("transactions.placeholders.value"), :required => "" }

  / Date field
  .row.collapse
    .small-2.columns
      %span.prefix.icomoon &#xe64a;
    .small-10.columns
      = date_field :outgo, :date, { :'ng-model' => "outgo.date", :required => "" }

  / Category
  .row
    .small-12.columns
      = select :outgo, :category, @categories, { :prompt => t("category") }, { :'ng-model' => "outgo.category_id", :required => "" }

  / Tags
  .row.collapse
    .small-2.columns
      %span.prefix.icomoon &#xe62d;
    .small-10.columns
      = hidden_field :outgo, :tags, { :class => "tags", :data => { :user_tags => @tags } }

  / Description
  .row.collapse
    .small-12.columns
      = text_area :outgo, :description, { :rows => 4, :placeholder => t("outgoes.placeholders.description"), :'ng-model' => "outgo.description" }

  .row.collapse
    .small-12.columns
      %button.button.radius.small-full{ :type => "submit", :name => "commit" }
        Save