.row
  .small-12.columns
    %h2=t "export.title"

.row
  .small-12.columns
    %ul.small-block-grid-2
      %li
        %a.button.radius.small-full{ :href => "incomes/csv", :target => "_blank" }=t "export.incomes"
      %li
        %a.button.radius.small-full{ :href => "outgoes/csv", :target => "_blank" }=t "export.outgoes"