.row
  .small-12.columns
    %h2=t "import.title"

= form_tag "import_export", :method => :post, :multipart => true do
  .row
    .small-12.medium-4.large-3.columns
      = select :import, :resource, resources, { :prompt => t("import.select") }, :required => ""

  .row
    .small-12.columns
      = file_field_tag :file, :required => ""

  .row
    .small-12.columns
      = submit_tag t("import.submit"), :class => "button radius small-full"