= render :partial => "shared/topbar", :locals => { :title => t("import_export") }

%section.main-section

  - if flash[:notice]
    .row
      .small-12.columns
        .alert-box.success.radius(data-alert)
          = flash[:notice]
          %a.close{ :href => "#" } &times;

  %section.export
  %section.import
    = render :partial =>"export",      :locals => { :resources => @resources }
    = render :partial =>"import_form", :locals => { :resources => @resources }