= form_tag login_path, { :id => "login_form", :'ng-show' => "isLoginEmailFormVisible" } do
  %input{ :type => "hidden", :name => "redirect_url", :value => "{{reditectUrl}}" }

  .row
    .large-12.columns
      %label= t "users.login_with_email_address"

  .row
    .large-12.columns
      = email_field_tag :email, "", { :placeholder => t("users.email_address"), :required => "" }

  .row
    .large-12.columns
      = password_field_tag :password, "", { :placeholder => t("users.password"), :required => "" }

  .row
    .large-12.columns
      = check_box_tag "keep_conection", true, false
      = label_tag "keep_conection", "Mantenha-me conectado"

  .row
    .large-12.columns
      = submit_tag t(".login"), :class => 'button radius small-full'

  .row
    .large-12.columns
      %a{ :href => '#/recover-password' } Forgot your password?
