= form_for(@new_user, html: { id: 'signup_form', :'ng-show' => "isSignUpEmailFormVisible" }) do |f|
  .row
    .large-12.columns
      %label=t "users.sign_up_with_email_address"

  .row
    .large-12.columns
      = f.text_field :name, { :placeholder => t("users.full_name") }

  .row
    .large-12.columns
      = f.email_field :email, { :placeholder => t("users.email_address"), :required => "" }

  .row
    .large-12.columns
      = f.password_field :password, { :placeholder => t("users.password"), :'ng-model' => 'password', :required => ""  }

  .row{ :'ng-show' => 'password.length > 0' }
    .large-12.columns
      = f.password_field :password_confirmation, { :placeholder => t("users.password_confirmation"), :required => "" }

  .row
    .large-12.columns
      = f.submit t(".sign_me_up"), class: 'button radius small-full'
