= render :partial => "shared/topbar", :locals => { :'menus_enabled' => false }

%section.main-section.welcome
  %dl.tabs( data-tabs )
    %dd{ :'ng-class' => "{ active: location == 'signup' }" }
      %a{ :href => "#signup" }=t ".sign_up"
    %dd{ :'ng-class' => "{ active: location == 'login' }" }
      %a{ :href => "#login" }=t ".login"
    %dd{ :'ng-class' => "{ active: location == 'watzit' }" }
      %a{ :href => "#watzit" }=t ".watzit.title"

  .tabs-content
    #signup.content{ :'ng-class' => "{ active: location == 'signup' }" }

      .row.social-buttons.unavailable
        .large-12.columns
          %a.fb.button.radius.full
            %span.icon.icomoon.left &#xe765;
            =t ".sign_up_with_facebook"

          %a.google.button.radius.full
            %span.icon.icomoon.left &#xe760;
            =t ".sign_up_with_google_plus"

      = render :partial => "users/signup_form"

      .row.footer-links
        .large-12.columns
          %a{ :'ng-click' => "showSignUpEmailForm()", :'ng-show' => "!isSignUpEmailFormVisible" }
            =t "users.sign_up_with_email_address"

          %a{ :href => '#/login' }=t ".footer_links.login"
          %a{ :href => '#/watzit' }=t ".footer_links.watzit"

    #login.content{ :'ng-class' => "{ active: location == 'login' }" }

      .row.social-buttons.unavailable
        .large-12.columns
          %a.fb.button.radius.full
            %span.icon.icomoon.left &#xe765;
            =t ".login_with_facebook"

          %a.google.button.radius.full
            %span.icon.icomoon.left &#xe760;
            =t ".login_with_google_plus"

      = render :partial => "users/login_form"

      .row.footer-links
        .large-12.columns
          %a{ :'ng-click' => "showLoginEmailForm()", :'ng-show' => "!isLoginEmailFormVisible" }
            =t "users.login_with_email_address"

          %a{ :href => '#/signup' }=t ".footer_links.sign_up"
          %a{ :href => '#/watzit' }=t ".footer_links.watzit"

    #watzit.content{ :'ng-class' => "{ active: location == 'watzit' }" }
      .row
        .large-12.columns
          %p=t ".watzit.text.tired"
          %p=t ".watzit.text.problem_end"
          %p
            =t ".watzit.text.control"
            %strong=t "app_name"
          %p
            %a{ :href => '#/signup' }=t ".create_account_now"
            =t ".watzit.text.it_is_free"
          %p=t ".watzit.text.totally_excelent"

          %a.button.radius.small-full{ :href => '#/signup' }=t ".create_an_account"