%aside.left-off-canvas-menu
  %ul.off-canvas-list
    %li
      %label= t "app_name"
    %li
      %a{ :href => '#/outgoes/new' }
        %span.icomoon $&#xe728;
        =t "outgoes.new"
    %li
      %a{ :href => '#/incomes/new' }
        %span.icomoon $&#xe724;
        =t "incomes.new"
    %li
      %a{ :href => '#/extracts' }
        %span.icomoon &#xe6b0;
        =t "extract"
    %li
      %a.unavailable
        %span.icomoon &#xe692;
        =t "graphics"
    %li
      %a{ :href => "#/import-export" }
        %span.icomoon &#xe7b1;
        =t "import_export"
    %li
      %a.unavailable
        %span.icomoon &#xe66c;
        =t "profile"
    %li
      %a{ :href => '#/logout' }
        %span.icomoon &#xe700;
        =t "logoff"

%a.exit-off-canvas