- title ||= t("app_name")
- menus_enabled = true if menus_enabled.nil?

.fixed
  %nav.top-bar(data-topbar)
    .inner
      %ul.title-area
        %li.name

          -# Desktop Title Area
          %h1.show-for-medium-up
            %a{ :href => "#" }
              %span.icomoon &#xe634;
              =t "app_name"

          -# Mobile Title Area
          %h1.show-for-small-only
            - if menus_enabled
              %a.left-off-canvas-toggle
                %span.icomoon.menu-icon &#xe6b4;
                %span.icomoon &#xe634;
                = title
            - else
              %span.icomoon &#xe634;
              = title

      - if menus_enabled
        %section.top-bar-section

          %ul.right.show-for-medium-up
            %li.active
              %a.spent{ :href => "#/outgoes/new" }
                %span
                  %span.icomoon $&#xe728;
                  %span.show-for-large-up=t "outgoes.new"
            %li
              %a.income{ :href => "#/incomes/new" }
                %span
                  %span.icomoon $&#xe724;
                  %span.show-for-large-up=t "incomes.new"
            %li
              %a.list{ :href => "#/extracts" }
                %span
                  %span.icomoon &#xe6b0;
                  %span.show-for-large-up=t "extract"
            %li
              %a.report.unavailable
                %span
                  %span.icomoon &#xe692;
                  %span.show-for-large-up=t "graphics"

            %li.divider

            %li.has-dropdown
              %a.icomoon{ :'dropdown-toggle' => "#menu_dropdown" } &#xe6b4;
              %ul#menu_dropdown.dropdown
                %li
                  %a{ :href => "#/import-export" }
                    %span.icomoon &#xe7b1;
                    =t "import_export"
                %li
                  %a.unavailable
                    %span.icomoon &#xe66c;
                    =t "profile"
                %li.divider
                %li
                  %a{ :href => "#" }
                    %span.icomoon &#xe700;
                    =t "logoff"
