%form#new_income_form.income.transaction-form.centrilized{ :'ng-submit' => "submit()" }
  .row.show-for-medium-up
    .small-12.columns
      %h2= title || ""

  / Value field
  .row.collapse
    .small-2.columns
      %span.prefix=t "currency"
    .small-10.columns
      = number_field :outgo, :value, { :'ng-model' => "income.value", :step => "0.01", :placeholder => t("transactions.placeholders.value"), :required => "" }

  / Date field
  .row.collapse
    .small-2.columns
      %span.prefix.icomoon &#xe64a;
    .small-10.columns
      = date_field :income, :date, { :'ng-model' => "income.date", :required => "" }

  / Category
  .row
    .small-12.columns
      = select :income, :source, @sources, { :prompt => t('source') }, { :'ng-model' => "income.source_id", :required => "" }

  / Description
  .row.collapse
    .small-12.columns
      = text_area :income, :description, { :rows => 4, :placeholder => t("incomes.placeholders.description"), :'ng-model' => "income.description" }

  .row.collapse
    .small-12.columns
      %button.button.radius.small-full{ :type => "submit", :name => "commit" }=t "save"