- title = t("extract")

= render :partial => "shared/topbar", :locals => { :title => title }

%section.main-section.incomes.extract

  %header.clearfix
    = render :partial => "transactions/filter", :locals => { :resource => "incomes" }
    = render :partial => "transactions/tabs",   :locals => { :active_tab => "incomes" }
    %h2.show-for-medium-up= title

  .tabs-content
    .content.active
      = render :partial => "transactions/list", :locals => { :transactions => @incomes }