.extract
  .alert-box
    margin-top: 1rem

  .content
    float: none
    padding: 0

  .filter
    float: right
    position: relative
    top: 1px

    a
      color: black
      display: block

      &:hover
        background-color: #e1e1e1

    .dropdown
      background-color: #efefef
      list-style-type: none
      margin: 0
      left: auto !important
      padding: 0
      position: absolute
      right: 0 !important
      top: 59px !important
      width: 150px
      z-index: 1

      a
        padding: 0.75rem 1.5rem

    .icon
      margin-right: 0.3rem

    > .icon
      padding: 1.30rem 1rem
      margin: 0

  .tabs
    margin-bottom: 1px !important

  .tabs-content
    margin-bottom: 0

  .totals
    border-color: #ddd
    border-style: solid
    border-width: 1px 1px 0
    line-height: 2.25rem
    text-align: center

    .labels .columns
      border: 1px solid white
      background-color: whitesmoke
      font-weight: bold

.transactions-list
  margin-bottom: 0
  width: 100%

  a
    color: black
    display: block
    height: 2.25rem
    line-height: 2.25rem
    overflow: hidden
    padding: 0 0.625rem

  td
    padding: 0

// Medium and Large screens specific styles
@media only screen and (min-width: 40em)
  .extract
    h2
      float: left
      margin-bottom: 0
    header
      padding-top: 15px
    .tabs
      float: right

@media only screen and (max-width: 40em)
  .extract
    .filter
      position: fixed
      top: 0
      right: 0
      z-index: 100

      a
        color: white

        &:hover
          background-color: #272727

      .dropdown
        background-color: #333
        top: 46px !important

      > .icon
        padding-bottom: 1rem
        padding-top: 0.9rem

@media only screen and (max-width: 45em)
  .extract
    .tabs
      a
        padding-left: 1.5rem
        padding-right: 1.5rem