a.unavailable,
button.unavailable,
.unavailable a,
.unavailable button
  color: #ddd !important
  cursor: default !important
  text-decoration: line-through !important

ul.off-canvas-list li label
  font-size: 1rem
  padding: 0.55rem

#content
  margin: 2.75rem auto 0
  max-width: 960px

.button.full
  width: 100%

.centrilized
  margin-left: auto
  margin-right: auto

.green
  color: #3c763d

.icomoon
  font-family: 'icomoon' !important

.red
  color: #a94442

@media only screen and (max-width: 40em)
  .button.small-full
    width: 100%

  .top-bar .name h1 a
    width: auto