.income
  max-width: 400px

  input, select, textarea, .prefix
    font-size: 1.54rem
    height: auto

  input[type="date"]
    height: 1.9em

  textarea
    height: auto
    max-width: 100%
    min-width: 100%

  .row.collapse
    padding-left: 0.9375rem
    padding-right: 0.9375rem

  .prefix
    line-height: 1.85em