.select2-container-multi
  height: 47px
  margin-bottom: 1rem
  width: 100%

  .select2-choices
    height: 47px !important

    .select2-search-choice
      line-height: 27px
      margin: 5px 0 5px 5px
      padding: 3px 10px 3px 25px

    .select2-search-field
      height: 45px

  .select2-search-choice-close
    left: 8px
    top: 10px
