#menu_dropdown
  left: -87px !important
  width: 150px

.top-bar
  height: 46px

  .name
    h1
      font-size: 1.2rem
      color: white

      &, a
        font-weight: normal
        line-height: 46px
        padding-left: 5px

  .inner
    max-width: 960px
    margin: 0 auto

  .left-off-canvas-toggle
    margin-left: -17px