.transactions-by-month-modal,
.transactions-by-year-modal
  padding: 0.5rem 0.5rem 0.3rem 1rem
  text-align: center

  h3
    margin: 0

  li
    padding: 0 1px 2px

  .button
    margin: 0

  .close-reveal-modal
    padding: 0.25rem 0.25rem 0.25rem 0.5rem

  .months .button
    width: 100%

  .row
    max-width: 500px

  .title
    margin-bottom: 0.25rem
    margin-top: 0

  .year-selector
    line-height: 2.5rem
    margin-bottom: 0.5rem

    .button
      padding: 0.625rem 1rem
      font-size: 1rem

.transactions.search
  *[type="submit"]
    margin-top: 1rem

  fieldset
    margin-top: 0
    padding-bottom: 0

  form .filter:first-child
    border-top: 0

  input, label
    margin: 0

  input[type="checkbox"]
    height: 1rem
    width: 1rem

  label
    font-size: 1.125rem
    line-height: 1.75em

    &.right
      padding: 0.25rem

  p
    margin-bottom: 0.5rem

  .filter
    border-top: 1px solid #eee

// Small screen specific styles
@media only screen and (max-width: 40em)
  .transaction-form
    padding-top: 1rem

  .transactions.search
    p
      padding-top: 0.5rem
