.welcome
  .footer-links, form
    a
      display: block
      line-height: 1.6rem

  .tabs, .tabs-content
    margin: 0 auto
    max-width: 400px
    width: 100%

    .content
      float: none

  .social-buttons
    border-bottom: 1px solid #ddd
    margin-bottom: 1rem

    .fb
      background-color: #3b5998
    .google
      background-color: #DC4D28
    .icon
      font-size: 1.75rem
      line-height: 1rem
      position: relative
      left: -15px
