- tabs ||= true if tabs.nil?

%header.clearfix

  .filter.has-dropdown
    %a.icon.icomoon{ :'dropdown-toggle' => "#transactions_filter" } &#xe73c;
    %ul#transactions_filter.dropdown
      %li
        %a{ :'ng-href' => "{{ getListUrl(type) }}" }
          %span.icon.icomoon &#xe643;
          =t "extracts.recent"
      %li
        %a{ :'ng-click' => "openMonthModal(type)" }
          %span.icon.icomoon &#xe64b;
          =t "extracts.by_month"
      %li
        %a{ :'ng-click' => "openYearModal()"}
          %span.icon.icomoon &#xe64a;
          =t "extracts.by_year"
      %li
        %a{ :'ng-href' => "#transactions/search"}
          %span.icon.icomoon &#xe67b;
          =t "search"

  - if tabs
    %dl.tabs
      %dd.transactions{ :'ng-class' => "{active: type == 'transactions'}" }
        %a{ :'ng-href' => "{{tabs.transactions}}" }=t "transactions.all"
      %dd.outgoes{ :'ng-class' => "{active: type == 'outgoes'}" }
        %a{ :'ng-href' => "{{tabs.outgoes}}" }=t "outgoes.title"
      %dd.incomes{ :'ng-class' => "{active: type == 'incomes'}" }
        %a{ :'ng-href' => "{{tabs.incomes}}" }=t "incomes.title"

  %h2.show-for-medium-up= title