= render :partial => "shared/topbar", :locals => { :title => "{{title}}" }

%section.main-section.transactions.extract
  = render :partial => "header", :locals => { :title => "{{title}}" }

  .tabs-content
    .content.active

      %div{ :'ng-show' => "transactions.length > 0" }

        %section.totals.clearfix{ :'ng-show' => "showTotals" }
          .labels.row
            .small-4.columns{ :'ng-show' => "type == 'transactions'" }
              =t "income"
            .small-4.columns{ :'ng-show' => "type == 'transactions'" }
              =t "outgo"
            .small-4.columns{ :'ng-show' => "type == 'transactions'" }
              =t "transactions.balance"
            .small-12.columns{ :'ng-show' => "type != 'transactions'" }
              =t "transactions.total_value"

          .values.row
            .columns{ :'ng-bind-html' => "totalIncome | currency:'R$'| valueArrow", :'ng-class' => "{'small-4': type == 'transactions', 'small-12': type != 'transactions'}", :'ng-show' => "type != 'outgoes'" }
            .columns{ :'ng-bind-html' => "totalOutgo | currency:'R$'| valueArrow:false", :'ng-class' => "{'small-4': type == 'transactions', 'small-12': type != 'transactions'}", :'ng-show' => "type != 'incomes'" }
            .small-4.columns{ :'ng-bind-html' => "totalValue | currency:'R$'| valueArrow:totalValue > 0", :'ng-show' => "type == 'transactions'" }

        %table.transactions-list
          %thead
            %tr
              %th= Transaction.human_attribute_name(:date)
              %th= Transaction.human_attribute_name(:value)
              %th= "#{t('abbr.category')}/#{t('abbr.source')}"
              %th.show-for-medium-up{ :'ng-show' => "type != 'incomes'" }
                =t "tags"
              %th.show-for-medium-up
                =t "abbr.description"

          %tbody
            %tr{ :'ng-repeat' => "t in transactions" }
              %td
                %a.date{ :'ng-href' => "{{getItemUrl(t, '/edit')}}" }
                  {{t.date | date:"dd/MM/yy"}}

              %td
                %a.value{ :'ng-href' => "{{getItemUrl(t, '/edit')}}", :'ng-bind-html' => "t.value | currency:'R$' | valueArrow:!!t.source" }

              %td
                %a{ :'ng-href' => "{{getItemUrl(t, '/edit')}}" }
                  %span.source{ :'ng-show' => "{{!!t.source}}"}
                    {{t.source.name}}

                  %span.category{ :'ng-show' => "{{!!t.category}}"}
                    {{t.category.name}}

              %td.show-for-medium-up{ :'ng-show' => "type != 'incomes'" }
                %a.tags{ :'ng-href' => "{{getItemUrl(t, '/edit')}}" }
                  {{ t.tags | tags }}

              %td.show-for-medium-up
                %a.description{ :'ng-href' => "{{getItemUrl(t, '/edit')}}" }
                  {{ t.description }}

      .row{ :'ng-show' => 'transactions.length == 0' }
        .small-12.columns
          .alert-box.info.radius(data-alert)
            =t "transactions.warnings.none_registered"