- resource ||= "transactions"

.row
  .small-12.columns
    %h2.title=t "months.title"
    %p=t "months.select"

.year-selector.row
  .small-4.columns
    %a.button.tiny.icomoon{ :'ng-click' => "prevYear()" }
      &#xe70d;
  .small-4.columns
    %h3 {{year}}
  .small-4.columns
    %a.button.tiny.icomoon{ :'ng-click' => "nextYear()" }
      &#xe70e;

.row
  %ul.months.small-block-grid-3
    %li{ :'ng-repeat' => "month in months" }
      %a{ :'ng-href' => "#/extracts/{{type}}/{{year}}/{{month.index}}", :'ng-click' => "close()", :class => "button small" }
        {{month.shortName}}

%a.close-reveal-modal{ :'ng-click' => "close()" } &#215;