= render :partial => "shared/topbar", :locals => { :title => t(".title") }

%section.main-section.transactions.search
  .row
    .small-12.columns
      %h2.show-for-medium-up=t ".title"

  .row
    .small-12.columns
      %p=t "transactions.filter_by"

  %form{ :'ng-submit' => "submit(search)" }
    .row
      .filter.small-12.columns
        %h3
          %label{ :for => "toggle_date"}
            %input#toggle_date{ :type => "checkbox", :'ng-click' => "toggle('date')" }
            =t "transactions.date"
        %fieldset{ :'ng-show' => "showDate" }
          %ul.small-block-grid-1.medium-block-grid-2
            %li
              .row
                .small-12
                  .row
                    .small-3.columns
                      %label.right.inline{ :for => "date_from" }=t "from"
                    .small-9.columns
                      %input#date_from{ :type => "date", :'ng-model' => "search.dateFrom", :'ng-disabled' => "!showDate" }
            %li
              .row
                .small-12
                  .row
                    .small-3.columns
                      %label.right.inline{ :for => "date_to" }=t "to"
                    .small-9.columns
                      %input#date_to{ :type => "date", :'ng-model' => "search.dateTo", :'ng-disabled' => "!showDate" }

    .filter.row
      .small-12.columns
        %h3
          %label{ :for => "toggle_value"}
            %input#toggle_value{ :type => "checkbox", :'ng-click' => "toggle('value')" }
            =t "transactions.value"
        %fieldset{ :'ng-show' => "showValue" }
          %ul.small-block-grid-1.medium-block-grid-2
            %li
              .row
                .small-12
                  .row
                    .small-3.columns
                      %label.right.inline{ :for => "value_from" }=t "from"
                    .small-9.columns
                      %input#value_from.currency-field{ :type => "number", :'ng-model' => "search.valueFrom", :'ng-disabled' => "!showValue", :placeholder => "ex.: 2,30" }
            %li
              .row
                .small-12
                  .row
                    .small-3.columns
                      %label.right.inline{ :for => "value_to" }=t "to"
                    .small-9.columns
                      %input#value_to.currency-field{ :type => "number", :'ng-model' => "search.valueTo", :'ng-disabled' => "!showValue", :placeholder => "ex.: 23,50" }

    .filter.row
      .small-12.columns
        %h3
          %label{ :for => "toggle_source"}
            %input#toggle_source{ :type => "checkbox", :'ng-click' => "toggle('source')" }
            =t "source"
        %fieldset{ :'ng-show' => "showSource" }
          .row
            .small-12
              = select :search, :sources, @sources, {}, :multiple => "multiple", :'ng-model' => "search.sources", :'ng-disabled' => "!showSource", :placeholder => t("sources")

    .filter.row
      .small-12.columns
        %h3
          %label{ :for => "toggle_category"}
            %input#toggle_category{ :type => "checkbox", :'ng-click' => "toggle('category')" }
            =t "category"
        %fieldset{ :'ng-show' => "showCategory" }
          .row
            .small-12
              = select :search, :categories, @categories, {}, :multiple => "multiple", :'ng-model' => "search.categories", :'ng-disabled' => "!showCategory", :placeholder => t("categories")

    .filter.row
      .small-12.columns
        %h3
          %label{ :for => "toggle_tags"}
            %input#toggle_tags{ :type => "checkbox", :'ng-click' => "toggle('tags')" }
            =t "tags"
        %fieldset{ :'ng-show' => "showTags" }
          .row
            .small-12
              = select :search, :tags, @tags, {}, :multiple => "multiple", :'ng-model' => "search.tags", :'ng-disabled' => "!showTags", :placeholder => t("tags")

    .filter.row
      .small-12.columns
        %h3
          %label{ :for => "toggle_description"}
            %input#toggle_description{ :type => "checkbox", :'ng-click' => "toggle('description')", :disabled => "disabled" }
            %a.unavailable=t "transactions.description"

    .row
      .small-12.columns
        %input.button.radius.small-full{ :type => "submit", :name => "commit", :value => t("search") }
