= render :partial => "shared/topbar", :locals => { :title => "{{title}}" }

%section.main-section.transactions.extract
  = render :partial => "header", :locals => { :tabs => false, :title => "{{title}}" }

  .tabs-content
    .content.active

      %div{ :'ng-show' => "valuesByMonth.length > 0" }

        %section.totals.clearfix
          .labels.row
            .small-4.columns=t "income"
            .small-4.columns=t "outgo"
            .small-4.columns=t "transactions.balance"

          .values.row
            .small-4.columns{ :'ng-bind-html' => "totalIncome | currency:'R$'" }
            .small-4.columns{ :'ng-bind-html' => "totalOutgo | currency:'R$'" }
            .small-4.columns{ :'ng-bind-html' => "totalValue | currency:'R$'" }

        %table.transactions-list
          %thead
            %tr
              %th=t "month"
              %th=t "income"
              %th=t "outgo"
              %th=t "transactions.balance"

          %tbody
            %tr{ :'ng-repeat' => "month in valuesByMonth" }
              %td
                %a.month{ :'ng-href' => "{{getItemUrl(month)}}" }
                  {{getMonthName(month)}}

              %td
                %a.income{ :'ng-href' => "{{getItemUrl(month)}}", :'ng-bind-html' => "month.values.income | currency:'R$'" }

              %td
                %a.outgo{ :'ng-href' => "{{getItemUrl(month)}}", :'ng-bind-html' => "month.values.outgo | currency:'R$'" }

              %td
                %a.balance{ :'ng-href' => "{{getItemUrl(month)}}", :'ng-bind-html' => "getBalance(month) | currency:'R$'" }

      .row{ :'ng-show' => 'valuesByMonth.length == 0' }
        .small-12.columns
          .alert-box.info.radius(data-alert)
            =t "transactions.warnings.none_registered"