.row
  .small-12.columns
    %h2.title=t "years.title"
    %p=t "years.select"

.year-selector.row
  .small-4.columns
    %a.button.tiny.icomoon{ :'ng-click' => "prevYear()" }
      &#xe70d;
  .small-4.columns
    %h3 {{year}}
  .small-4.columns
    %a.button.tiny.icomoon{ :'ng-click' => "nextYear()" }
      &#xe70e;

.row
  .small-12.columns
    %a{ :'ng-href' => "#/extracts/transactions/{{year}}", :'ng-click' => "close()", :class => "button radius full" }
      OK

%a.close-reveal-modal{ :'ng-click' => "close()" } &#215;