!!! 5
%html{ :'ng-app' => "wherzmamoneyApp" }
  %head
    %meta{ :charset =>"utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" }
    %title Wherzmamoney
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    = yield